# Ejercicios para practicar - Estructura de datos

A continuación encontraréis un conjunto de problemas que pueden servir para practicar los conceptos explicados en esta primera unidad, así como para refrescar los conceptos básicos de programación. Os recomendamos que intentéis realizar estos problemas vosotros mismos y que, una vez realizados, comparéis la solución que proponemos con vuestra solución. No dudéis en dirigir todas las dudas que surjan de la resolución de estos ejercicios, o bien de las soluciones propuestas, al foro del aula.

1. Decidid cuál es la estructura de datos más adecuada para responder a cada una de las preguntas siguientes y escribid el código que permita responderlas.

Disponemos de datos de un conjunto de ciudades del mundo. De cada ciudad, sabemos si tiene más de 14 millones de habitantes, si es capital del país donde se encuentra y si tiene una densidad de población por encima de los 20.000 habitantes por $km^2$:
* Las ciudades Shanghai, Beijing, Delhi, Estambul, Karachi, Guangzhou y Kinshasa tienen más de 14 millones de habitantes. El resto de las ciudades de las que tenemos datos tienen 14 millones o menos de habitantes.
* Las ciudades Delhi, Beijing, Kinshasa, Tokio, Moscow, Jakarta, Seoul y El Cairo son capitales del país donde se encuentran. El resto de las ciudades de las que tenemos datos no son capitales.
* Las ciudades El Cairo, Kinshasa, Delhi y Tokio tienen una densidad de población por encima de los 20.000 habitantes por $km^2$. El resto de las ciudades de las que tenemos datos no superan los 20.000 habitantes por $km^2$. 

1.1. ¿De cuántas ciudades (diferentes) tenemos datos? Asumiremos que no hay ninguna ciudad que no cumpla al menos una de las propiedades anteriores.

In [1]:
import pandas as pd

datos = [["+14 millones", "No", "-20 mil hab/km2"], 
        ["+14 millones", "Si", "-20 mil hab/km2"], 
        ["+14 millones", "Si", "+20 mil hab/km2"], 
        ["+14 millones", "No", "-20 mil hab/km2"], 
        ["+14 millones", "No", "-20 mil hab/km2"],
        ["+14 millones", "No", "-20 mil hab/km2"], 
        ["+14 millones", "Si", "+20 mil hab/km2"], 
        ["-14 millones", "Si", "+20 mil hab/km2"], 
        ["-14 millones", "Si", "-20 mil hab/km2"], 
        ["-14 millones", "Si", "-20 mil hab/km2"], 
        ["-14 millones", "Si", "-20 mil hab/km2"], 
        ["-14 millones", "Si", "+20 mil hab/km2"]] 

ciudades_df = pd.DataFrame(datos, columns = ["Habitantes", "Capital", "Densidad de población"], 
        index = ["Shanghai", "Beijing", "Delhi", "Estambul", "Karachi", "Guangzhou", "Kinshasa", "Tokio", "Moscow", "Jakarta", "Seoul", "El Cairo"])

ciudades_df

             Habitantes Capital Densidad de población
Shanghai   +14 millones      No       -20 mil hab/km2
Beijing    +14 millones      Si       -20 mil hab/km2
Delhi      +14 millones      Si       +20 mil hab/km2
Estambul   +14 millones      No       -20 mil hab/km2
Karachi    +14 millones      No       -20 mil hab/km2
Guangzhou  +14 millones      No       -20 mil hab/km2
Kinshasa   +14 millones      Si       +20 mil hab/km2
Tokio      -14 millones      Si       +20 mil hab/km2
Moscow     -14 millones      Si       -20 mil hab/km2
Jakarta    -14 millones      Si       -20 mil hab/km2
Seoul      -14 millones      Si       -20 mil hab/km2
El Cairo   -14 millones      Si       +20 mil hab/km2

In [2]:
# Respuesta

from itertools import count

info = ciudades_df.describe()

print(info)

cant_ciudades = info["Habitantes"][0]

print(f"Tenemos datos de {cant_ciudades} ciudades")

          Habitantes Capital Densidad de población
count             12      12                    12
unique             2       2                     2
top     +14 millones      Si       -20 mil hab/km2
freq               7       8                     8
Tenemos datos de 12 ciudades

1.2. ¿Cuántas ciudades tienen más de 14 millones de habitantes y una densidad de población por encima de los 20.000 habitantes por $ km ^ 2 $?

In [3]:
# Respuesta

mas_14_mas_20 = ciudades_df[(ciudades_df["Habitantes"] == "+14 millones") & (ciudades_df["Densidad de población"] == "+20 mil hab/km2")]

print(f"{len(mas_14_mas_20)} ciudades tienen más de 14 millones de habitantes y una densidad de población de más de 20 mil habitantes por km2")

2 ciudades tienen más de 14 millones de habitantes y una densidad de población de más de 20 mil habitantes por km2

1.3. ¿Qué ciudades tienen una densidad de población por encima de los 20.000 habitantes por $ km ^ 2 $ pero no más de 14 millones de habitantes?

In [4]:
# Respuesta

menos_14_mas_20 = ciudades_df[(ciudades_df["Habitantes"] == "-14 millones") & (ciudades_df["Densidad de población"] == "+20 mil hab/km2")]

print(f"{len(menos_14_mas_20)} ciudades tienen más de 14 millones de habitantes y una densidad de población de más de 20 mil habitantes por km2")

2 ciudades tienen más de 14 millones de habitantes y una densidad de población de más de 20 mil habitantes por km2

In [5]:
menos_14_mas_20

            Habitantes Capital Densidad de población
Tokio     -14 millones      Si       +20 mil hab/km2
El Cairo  -14 millones      Si       +20 mil hab/km2

1.4. ¿Cuál es el país con mayor número de ciudades por encima de 14 millones de habitantes? ¿Cuántas ciudades de estas características hay en cada país?

Para responder a estas preguntas, nos faltará añadir información al conjunto de datos de ciudades disponible para realizar la actividad. Pensad cuál sería la estructura de datos más adecuada para almacenar esta información extra y calcular la respuesta a la pregunta planteada.

In [6]:
# Respuesta

dicc_paises = {"Shanghai":"China", "Beijing":"China", "Delhi": "India", "Estambul":"Turquía", "Karachi":"Pakistán", "Guangzhou":"China", "Kinshasa":"Congo", "Tokio":"Japón", "Moscow":"Rusia", "Jakarta":"Indonesia", "Seoul":"Corea del Sur", "El Cairo":"Egipto"}

ciudades_df["Países"] = dicc_paises

ciudades_df

             Habitantes Capital Densidad de población         Países
Shanghai   +14 millones      No       -20 mil hab/km2          China
Beijing    +14 millones      Si       -20 mil hab/km2          China
Delhi      +14 millones      Si       +20 mil hab/km2          India
Estambul   +14 millones      No       -20 mil hab/km2        Turquía
Karachi    +14 millones      No       -20 mil hab/km2       Pakistán
Guangzhou  +14 millones      No       -20 mil hab/km2          China
Kinshasa   +14 millones      Si       +20 mil hab/km2          Congo
Tokio      -14 millones      Si       +20 mil hab/km2          Japón
Moscow     -14 millones      Si       -20 mil hab/km2          Rusia
Jakarta    -14 millones      Si       -20 mil hab/km2      Indonesia
Seoul      -14 millones      Si       -20 mil hab/km2  Corea del Sur
El Cairo   -14 millones      Si       +20 mil hab/km2         Egipto

In [7]:
grouped = ciudades_df.groupby(["Países"])
for n, g in grouped:
    print(n,len(g))

China 3
Congo 1
Corea del Sur 1
Egipto 1
India 1
Indonesia 1
Japón 1
Pakistán 1
Rusia 1
Turquía 1

C:\Users\Usuario\AppData\Local\Temp\ipykernel_540\669143486.py:2: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for n, g in grouped:

In [8]:
ciudades_df[['Habitantes', 'Países']]

             Habitantes         Países
Shanghai   +14 millones          China
Beijing    +14 millones          China
Delhi      +14 millones          India
Estambul   +14 millones        Turquía
Karachi    +14 millones       Pakistán
Guangzhou  +14 millones          China
Kinshasa   +14 millones          Congo
Tokio      -14 millones          Japón
Moscow     -14 millones          Rusia
Jakarta    -14 millones      Indonesia
Seoul      -14 millones  Corea del Sur
El Cairo   -14 millones         Egipto

In [9]:
ciudades_more_14 = ciudades_df[(ciudades_df["Habitantes"] == "+14 millones")]

ciudades_more_14 

grouped = ciudades_more_14 .groupby(["Países"]).size()

data = grouped.reset_index()

data.sort_index()

first = data["Países"][0]

first_number = max(ciudades_more_14.value_counts("Países"))

print(f"The country with more citis with more that 14 mill of population is {first} with {first_number} cities")

The country with more citis with more that 14 mill of population is China with 3 cities

1.5. ¿Cuáles son los dos países adyacentes que tienen el mayor número de ciudades por encima de 14 millones de habitantes?

Para responder a esta pregunta, nos faltará añadir más información al conjunto de datos de ciudades disponible para realizar la actividad. De nuevo, pensad cuál sería la estructura de datos más adecuada para almacenar esta información extra y calcular la respuesta a la pregunta planteada.

In [10]:
# Respuesta

2. Calculad cuántas horas ha trabajado la persona que ha escrito la siguiente frase:

"I started working at 17:22:42 and finished at 22:00:00"

In [11]:
import datetime

sentence = "I started working at 17:22:42 and finished at 22:00:00"

sentence_list = sentence.split()

date1_str = sentence_list[4]
date2_str = sentence_list[8]

date_1 = datetime.datetime.strptime(date1_str, "%H:%M:%S")
date_2 = datetime.datetime.strptime(date2_str, "%H:%M:%S")


diff = date_2 - date_1

print(f"Juan worked {diff} hours")

# Respuesta

Juan worked 4:37:18 hours

3. Dada la cadena de caracteres `sentence`, reemplazad todos los espacios en blanco por puntos.

In [12]:
sentence = " From     time to time, Python makes  an    incompatible change " \
    " to the   advertised semantics of core language constructs   "

# Respuesta

sentence_2 = sentence.replace(" ", ".")

sentence_2

'.From.....time.to.time,.Python.makes..an....incompatible.change..to.the...advertised.semantics.of.core.language.constructs...'

4. Dada la misma cadena de caracteres del ejercicio anterior, reemplazad todos los espacios en blanco contiguos por un único punto. Es decir, si encontráis tres espacios en blanco consecutivos, estos se deben reemplazar por un único punto, y no por tres puntos como implementábamos en el ejercicio anterior. Eliminad los espacios que se encuentran al inicio y al final de la cadena antes de sustituirlos por puntos.

In [13]:
# Respuesta

sentence_list = sentence.split()

sentence_joined = ".".join(sentence_list)

sentence_joined

'From.time.to.time,.Python.makes.an.incompatible.change.to.the.advertised.semantics.of.core.language.constructs'

5. Proporcionad una lista con todas las palabras de cuatro letras de la cadena de caracteres `sentence` que empiecen por `t` o `F`.

In [14]:
# Respuesta

lista_5 = []

for i in sentence_list:
    if len(i) == 4 and i[0] == "t" or i[0] == "F":
        lista_5. append(i)

print(lista_5)

['From', 'time']

6. Reemplazad todas las mayúsculas de la cadena `sentence` por interrogantes.

In [15]:
# Respuesta

import copy

sentence_6 = copy.copy(sentence)

for i in sentence_6:
    if i.isupper() == True:
        sentence_6 = sentence_6.replace(i , "?")

sentence_6

' ?rom     time to time, ?ython makes  an    incompatible change  to the   advertised semantics of core language constructs   '

7. Una aerolínea nos contrata para ayudarla a optimizar el procedimiento de embarque de sus aviones. La aerolínea dispone de tres clases de billetes: primera, *business* y turista. A la hora de embarcar, los clientes se sitúan en tres colas, una para cada clase. Después, sin embargo, solo hay dos azafatas que les validen la tarjeta de embarque, por lo que las tres colas iniciales se convierten en dos, a partir de las cuales los pasajeros acceden a los aviones.

Actualmente, la aerolínea utiliza la siguiente estrategia para convertir las tres colas iniciales (por clase) en las dos colas que embarcan (una por cada azafata):

Por un lado, los clientes de primera y *business* van a parar a la cola 1 (cola prioritaria), intercalando un cliente de cada tipo en la cola prioritaria siempre que haya suficientes clientes para hacerlo, y asignando después todos los clientes restantes a la nueva cola. Así, el primer cliente que se asigna a la cola prioritaria es el primer cliente de la clase primera, el segundo cliente de la cola prioritaria será el primer cliente de la cola de *business*, el tercer cliente de la cola prioritaria será el segundo cliente de la clase primera, etc.

Por otra parte, los clientes de clase turista van a parar a la cola 2 (cola no prioritaria), siguiendo el orden que tenían en la cola de la clase turista. Ahora bien, si un cliente de clase turista tiene movilidad reducida o va acompañado de niños, entonces este se sitúa al frente de la cola prioritaria. Si hay más de un cliente en estas condiciones, el orden que siguen en la cola de la clase turista se mantiene.

Para evaluar cómo de buena es la estrategia, la aerolínea utiliza dos métricas:
1. El tiempo que se tarda en embarcar el avión es de 30 segundos por pasajero, considerando que las dos colas (1 y 2) embarcan a la vez. Es decir, si la cola 1 tiene un pasajero y la cola 2 tiene dos, se tardará un minuto en embarcar.
2. La satisfacción global de sus clientes, que se calcula haciendo la media de la satisfacción de cada cliente, considerando que:

* Los clientes de primera tienen una satisfacción de -25 veces el número de posiciones que han perdido en la cola prioritaria respecto a su posición original en la cola de primera. Es decir, un cliente que estaba en tercera posición en la cola de primera y que ocupa la quinta posición de la cola prioritaria, tendrá una satisfacción de -50.
* Los clientes de *business* siempre tienen una satisfacción de 0.
* Los clientes con billete de clase turista que han sido movidos a la cola prioritaria tienen una satisfacción de 100. En cambio, los que han sido movidos a la cola no prioritaria tienen una satisfacción de 25 si han avanzado alguna posición en la cola 2 respecto a su posición inicial en la cola de la clase turista, o de 0 en cualquier otro caso.

Como analistas de datos, evaluaremos la satisfacción y el tiempo de embarque del avión del vuelo 714.

7.1 Cargad los datos de los pasajeros del vuelo 714 que encontraréis en el dataset `data/flight714.csv` y cread las tres colas, primera, *business* y turista, con los datos de los pasajeros. Los clientes se encuentran ordenados según su posición en la cola, con la columna `client_class` indicando a cuál de las colas pertenecen.

In [16]:
import pandas as pd

datos = pd.read_csv("flight714.csv")

datos_df = pd.DataFrame(datos)

datos_df

    client_id client_class  has_children  has_reduced_mobility
0           1            p             0                     0
1           2            p             0                     0
2           3            p             0                     0
3           4            b             0                     0
4           5            b             0                     0
5           6            b             0                     0
6           7            b             0                     0
7           8            b             0                     0
8           9            b             0                     0
9          10            b             0                     0
10         11            b             0                     0
11         12            b             0                     0
12         13            b             0                     0
13         14            t             0                     0
14         15            t             1                     0
15         16            t             0                     0
16         17            t             1                     0
17         18            t             0                     0
18         19            t             0                     0
19         20            t             0                     0
20         21            t             0                     0
21         22            t             0                     0
22         23            t             0                     0
23         24            t             0                     0
24         25            t             0                     0
25         26            t             0                     0
26         27            t             0                     0
27         28            t             0                     0
28         29            t             0                     0
29         30            t             0                     0
30         31            t             1                     0
31         32            t             0                     0
32         33            t             0                     0
33         34            t             0                     0
34         35            t             0                     0
35         36            t             0                     1
36         37            t             0                     0
37         38            t             0                     0
38         39            t             0                     0
39         40            t             0                     1
40         41            t             0                     0
41         42            t             0                     0
42         43            t             0                     0
43         44            t             0                     0
44         45            t             0                     0
45         46            t             0                     0
46         47            t             1                     1
47         48            t             0                     0
48         49            t             0                     0
49         50            t             0                     0

In [17]:
p = datos_df["client_class"] == "p"
b = datos_df["client_class"] == "b"
t = datos_df["client_class"] == "t"

df_p = datos_df[p].reset_index(drop=True)
df_b = datos_df[b].reset_index(drop=True)
df_t = datos_df[t].reset_index(drop=True)

print(df_p)
print(df_b)
print(df_t)

   client_id client_class  has_children  has_reduced_mobility
0          1            p             0                     0
1          2            p             0                     0
2          3            p             0                     0
   client_id client_class  has_children  has_reduced_mobility
0          4            b             0                     0
1          5            b             0                     0
2          6            b             0                     0
3          7            b             0                     0
4          8            b             0                     0
5          9            b             0                     0
6         10            b             0                     0
7         11            b             0                     0
8         12            b             0                     0
9         13            b             0                     0
    client_id client_class  has_children  has_reduced_mobility
0          14            t             0                     0
1          15            t             1                     0
2          16            t             0                     0
3          17            t             1                     0
4          18            t             0                     0
5          19            t             0                     0
6          20            t             0                     0
7          21            t             0                     0
8          22            t             0                     0
9          23            t             0                     0
10         24            t             0                     0
11         25            t             0                     0
12         26            t             0                     0
13         27            t             0                     0
14         28            t             0                     0
15         29            t             0                     0
16         30            t             0                     0
17         31            t             1                     0
18         32            t             0                     0
19         33            t             0                     0
20         34            t             0                     0
21         35            t             0                     0
22         36            t             0                     1
23         37            t             0                     0
24         38            t             0                     0
25         39            t             0                     0
26         40            t             0                     1
27         41            t             0                     0
28         42            t             0                     0
29         43            t             0                     0
30         44            t             0                     0
31         45            t             0                     0
32         46            t             0                     0
33         47            t             1                     1
34         48            t             0                     0
35         49            t             0                     0
36         50            t             0                     0

In [18]:
cola_1 = []
cola_2 = []
def funcion_filas():
    i = 0
    j = 0 
    k = 0
    while i <= len(df_p)-1:
        cola_1.append(df_p["client_id"][i])
        i += 1
        cola_1.append(df_b["client_id"][j])
        j += 1   
        if i > len(df_p)-1:
            while j <= len(df_b)-1:
                cola_1.append(df_b["client_id"][j])
                j += 1
    while k <= len(df_t)-1:
        if df_t["has_children"][k] == 1 or df_t["has_reduced_mobility"][k] == 1:
            cola_1.insert(0, df_t["client_id"][k])
            k += 1
        else:
            cola_2.append(df_t["client_id"][k])
            k += 1
    print(cola_1)
    print(cola_2)

7.2 Mostrad cuántos pasajeros hay en cada cola, con el detalle de cuántos de ellos tienen o bien niños o bien movilidad reducida.

In [19]:
# Respuesta

filter_hijos = (df_t["has_children"] == 1)
filter_mov = (df_t["has_reduced_mobility"] == 1)

df_hijos = df_t[filter_hijos]
df_mov = df_t[filter_mov]

print(f"En la cola prioritaria hay {len(cola_1)} personas, de las cuales {len(df_hijos)} tienen hijos y {len(df_mov)} tienen movilidad reducida")

print(f"En la cola No prioritaria hay {len(cola_2)} personas, ninguna con hijos o con movilidad reducida")

En la cola prioritaria hay 0 personas, de las cuales 4 tienen hijos y 3 tienen movilidad reducida
En la cola No prioritaria hay 0 personas, ninguna con hijos o con movilidad reducida

7.3 Implementad una función que genere las dos colas de embarque (cola prioritaria y cola no prioritaria) a partir de las tres colas obtenidas según la clase del billete del pasajero.

In [20]:
# Respuesta

7.4 Implementad una función que calcule el tiempo que se tarda en embarcar el avión y una función que calcule la satisfacción de los pasajeros.

In [21]:
# Respuesta
tiempo_min = int()
def funcion_tiempo():
    if len(cola_1) > len(cola_2):
        tiempo_min = (len(cola_1) * 30) / 60
    else:
        tiempo_min = (len(cola_2) * 30) / 60
    print(f"El tiempo requerido para embaracar será de aproximadamente {tiempo_min} minutos")

7.5 Calculad el tiempo que se tarda en embarcar el vuelo 714 y la satisfacción de los clientes.

* Los clientes de primera tienen una satisfacción de -25 veces el número de posiciones que han perdido en la cola prioritaria respecto a su posición original en la cola de primera. Es decir, un cliente que estaba en tercera posición en la cola de primera y que ocupa la quinta posición de la cola prioritaria, tendrá una satisfacción de -50.
* Los clientes de *business* siempre tienen una satisfacción de 0.
* Los clientes con billete de clase turista que han sido movidos a la cola prioritaria tienen una satisfacción de 100. En cambio, los que han sido movidos a la cola no prioritaria tienen una satisfacción de 25 si han avanzado alguna posición en la cola 2 respecto a su posición inicial en la cola de la clase turista, o de 0 en cualquier otro caso.

Como analistas de datos, evaluaremos la satisfacción y el tiempo de embarque del avión del vuelo 714.

In [22]:
import numpy as np

sat_p = int()
sat_t = int()
sat_total = float()
def funcion_satisfaccion(): 
    l = 0
    m = 0
    t_mov = len(cola_1) - (len(df_p) + len(df_b))
    while l <= len(df_p) - 1:
        sat_p = ((cola_1.index(df_p["client_id"][l]) + 1) - (df_p["client_id"][l])) * (-25)
        sat_p += sat_p 
        l += 1
    while m <= ((len(df_t) - 1) - t_mov):
        for (df_t["client_id"][m]) in cola_2:
            sat_t = ((len(cola_1) - (len(df_p) + len(df_b))) * 100) + (((df_t["client_id"][m]) - (cola_2.index(df_t["client_id"][m]) + 1)) * (25))  
            sat_t += sat_t
            m += 1
    sat_total = (sat_t + sat_p) / len(datos_df)
    print(f"La satisfacción media de los pasajeros del vuelo fue de {sat_total} puntos")



funcion_filas()
funcion_satisfaccion()

[47, 40, 36, 31, 17, 15, 1, 4, 2, 5, 3, 6, 7, 8, 9, 10, 11, 12, 13]
[14, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 41, 42, 43, 44, 45, 46, 48, 49, 50]
La satisfacción media de los pasajeros del vuelo fue de 35.0 puntos

C:\Users\Usuario\AppData\Local\Temp\ipykernel_540\468677045.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  for (df_t["client_id"][m]) in cola_2:

In [23]:
(((cola_1.index(df_p["client_id"][0]) + 1) - (df_p["client_id"][0]))*(-25)) + (((cola_1.index(df_p["client_id"][1]) + 1) - (df_p["client_id"][1]))*(-25)) +(((cola_1.index(df_p["client_id"][2]) + 1) - (df_p["client_id"][2]))*(-25))

-525